########################################################################################################################################################
###
### Copyright (C) 2017 by Lucas Brémond
###
### This file is part of the Spacer project.
###
########################################################################################################################################################

### @file                       Spacer/Core/.gitignore
### @author                     Lucas Brémond <lucas.bremond@gmail.com>
### @date                       2 Dec 2017

########################################################################################################################################################

# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/

########################################################################################################################################################